<!DOCTYPE html><html><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="css/main.css"><link rel="stylesheet" href="css/webstarter.css" type="text/css"><link rel="stylesheet" href="components//mdi/css/materialdesignicons.css" media="all" type="text/css"><script src="components/jquery/dist/jquery.min.js"></script><script src="script/jarallax/jarallax.js"></script><script src="components/waypoints/lib/jquery.waypoints.js" type="text/javascript"></script><script src="components/jquery.easing/js/jquery.easing.min.js"></script><script src="components/jquery.scrollTo/jquery.scrollTo.js"></script><script src="script//app.min.js" type="text/javascript"></script></head><body><h1>Waypoints</h1><p>Waypoints is a library that makes it easy to execute a function whenever you scroll to an element. <img src="https://travis-ci.org/imakewebthings/waypoints.svg" alt="Build Status"></p>
<pre><code class="language-js">var waypoint = new Waypoint({
  element: document.getElementById(&#39;thing&#39;),
  handler: function(direction) {
    alert(&#39;You have scrolled to a thing&#39;)
  }
})
</code></pre>
<p>If you&#39;re new to Waypoints, check out the <a href="http://imakewebthings.com/waypoints/guides/getting-started">Getting Started</a> guide.</p>
<p><a href="http://imakewebthings.com/waypoints/api/waypoint">Read the full documentation</a> for more details on usage and customization.</p>
<h2>Shortcuts</h2><p>In addition to the normal Waypoints script, extensions exist to make common UI patterns just a little easier to implement:</p>
<ul>
<li><a href="http://imakewebthings.com/waypoints/shortcuts/infinite-scroll">Infinite Scrolling</a></li>
<li><a href="http://imakewebthings.com/waypoints/shortcuts/sticky-elements">Sticky Elements</a></li>
<li><a href="http://imakewebthings.com/waypoints/shortcuts/inview">Inview Detection</a></li>
</ul>
<h2>Contributing</h2><p>If you want to report a Waypoints bug or contribute code to the library, please read the <a href="https://github.com/imakewebthings/waypoints/blob/master/CONTRIBUTING.md">Contributing Guidelines</a>. If you need help <em>using</em> Waypoints, please do not open an issue. Instead, ask the question on <a href="http://stackoverflow.com">Stack Overflow</a> and tag it with <code>#jquery-waypoints</code>. Be sure to follow the guidelines for <a href="http://stackoverflow.com/help/how-to-ask">asking a good question</a>.</p>
<h2>License</h2><p>Copyright (c) 2011-2014 Caleb Troughton. Licensed under the <a href="https://github.com/imakewebthings/waypoints/blob/master/licenses.txt">MIT license</a>.</p></body></html>