#about
    background #f0f0f0
    text-align center
    opacity 0

#about--text > article
    display inline-block
    vertical-align top
    padding 20px
    width 33%
    line-height 25px

.highlight-module
    transition all 1s ease-out

.highlight--in
    opacity 1
    transform translate(0)!important

#highlight--left
    opacity 0
    transform translate(-100%)

#highlight--right
    opacity 0
    transform translate(100%)
