color_base1 = #0C5334
color_base2 = #E58D38
color_base3 = #2C8566

.theme--bitcoin
   a > span
        background-color color_base2
        border 1px solid color_base2

.highlight-module--green::after
    background-color color_base3!important
