footer
    background color_base1
    padding 35px
    text-align center

    > * hr
        margin-top 5%
        border: 0;
        height: 1px;
        background-image linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0))

    > * ul.list-media--social
        li
            padding  10px
            margin 10px

    .icon--hover a
        transition all .3s ease

