html, body
    height initial!important
    overflow-x hidden

#home
  position relative
  overflow hidden
  width 100%

#logo_img
    background-image url('../images/logo.png')
    background-size cover
    background-position 50% 80%
    background-repeat no-repeat
    height 100%
    width 100%
    transition all .1s ease
