input
    padding 15.5px
    border-radius 5px
    width 35%
    border none
    outline none
    color #222
    transition all .3s ease

    &:focus
        width 45%
        box-shadow inset 0 2px 2px rgba(0,0,0,.075),0 0 9px rgba(102,175,233,.6)

.input-group--left
    border-top-right-radius 0px
    border-bottom-right-radius 0px
