#team--fade
    opacity 0

.team--person
    max-width 190px
    max-height 190px
    border-radius 150px
    border 5px solid red
    filter saturate(0.0)


@media only screen and (max-width: 620px)
    .list-guides-intro
        li
            border-bottom 1px solid rgba(224, 224, 224, 0.1)!important
